.Proyecto{
    color:rgb(38, 0, 255);
    font-weight: 900;
}
.Capitulo{
    padding-left: 20px;
    color: red;
}
.Partida{
    padding-left: 40px;
    color: slategray;
}
.Tarea{
    padding-left: 60px;
    color: peru;
}