<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Dixis </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!formItem" >
  <ion-list>
    <ion-list-header>
      <ion-label>{{staticText_home.titulo}}</ion-label>
    </ion-list-header>
    <app-items
      [elementos]="items"
      [staticText]="staticText_items"
      (nuevoItem)="nuevoItem($event)"
    ></app-items>
  </ion-list>
  
</ion-content>
<app-new-item 
    [padre]="newItem" 
    [tipoItems]="tipoItems"
    (nuevoItem)="registrarNuevoItem($event)" 
    *ngIf="formItem" ></app-new-item>
  
